@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: Norse-Bold;
  src: url(/utils/Norse-Bold.otf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}

.image-section {
  background-image: url(https://images.unsplash.com/photo-1562590556-7c6ffed1ff96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40vw;
}

.logo {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  background-color: rgba(0, 0, 0, 0.493);
  position: relative;
  top: 20vh;
  gap: 3vh;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
}

.odin {
  height: 10vh;
}

.text-odin {
  font-family: "Norse-Bold", serif;
  font-size: 4rem;
  color: white;
}

.right-section {
  font-family: "Roboto", sans-serif;
  width: 60vw;
  background-color: #bfb5828f;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.right-section .info-text {
  width: 90%;
  font-size: 1.1rem;
  padding-left: 35px;
}

.right-section .gapped-text {
  margin: 40px 0 50px;
}

.form {
  display: flex;
  flex-flow: row wrap;
  background-color: #c5b982a4;
  box-shadow: 0 1px 5px 2px #b1a675a4;
  gap: 20px;
  padding: 20px 0;
  padding-left: 35px;
}

.form .title {
  width: 100%;
  font-size: 1.1rem;
}

.form .input {
  display: flex;
  flex-flow: column wrap;
  width: 40%;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.form input {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  outline: none;
  padding-left: 5px;
}

.log-in {
  padding-left: 35px;
  display: flex;
  flex-direction: column;
}

.log-in button {
  background-color: rgba(0, 0, 0, 0);
  color: #ee8f00;
  font-size: 1.2em;
  border: 2px solid #ee8f00;
  border-radius: 5px;
  padding: 10px 40px;
  margin: 40px 0;
}

a {
  text-decoration: none;
  color: #ee8f00;
}
